<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.earlyBuddy.earlybuddy_android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".EarlyBuddyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="얼리버디"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.myPage.password.PasswordChangeActivity"></activity>
        <activity android:name=".ui.myPage.accountManagement.AccountManagementActivity" />
        <activity android:name=".ui.myPage.main.MyPageActivity" />
        <activity android:name=".ui.initial.place.InitialPlaceActivity" />
        <activity android:name=".ui.initial.nickname.NickNameActivity" />
        <activity
            android:name=".ui.LoadingActivity"
            android:theme="@style/Transparent" />
        <activity android:name=".ui.home.pathCheck.HomePathActivity" />
        <activity android:name=".ui.placeSearch.MapActivity" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="gftow610wm" />

        <activity android:name=".ui.searchRoute.TestPathActivity" />
        <activity android:name=".ui.pathSearch.PathActivity" />
        <activity android:name=".ui.placeSearch.EndPlaceSearchActivity" />
        <activity android:name=".ui.signUp.SignInActivity" />
        <activity android:name=".ui.signUp.SignUpActivity" />
        <activity android:name=".ui.schedule.write.ScheduleWriteActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.placeSearch.StartPlaceSearchActivity" />
        <activity android:name=".ui.calendar.CalendarActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="com.test"
            android:required="false" />
    </application>

</manifest>